/* Common */
body {
    font-family: 'RobotoSlab Regular';
    color: #303335;
}

h1 {
    font-family: 'RobotoSlab Bold';
    text-transform: uppercase;
    padding: 50px 0;
    margin: unset;
}

.figure-parallelogram {
    text-align: center;
    color: white;
}

.figure-parallelogram a {
    width: 263px;
    height: 80px;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 10% 50%);
    display: inline-block;
    font-family: 'RobotoSlab Bold';
    font-size: 22px !important;
    line-height: 35px;
    color: white;
    text-decoration: none;
}

.figure-parallelogram a:hover {
    color: #cccccc;
}

#support .your-question a,
#main .choose-boiler a,
#catalog .get-feedback a {
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(180, 19, 84, 1) 0%, rgba(226, 14, 23, 1) 100%);
    text-align: center;
    display: block;
}

#stocks .and-plus a,
#reviews .quick-order a {
    background: rgb(97, 196, 235);
    background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
}

#main, #contacts, #stocks, #reviews, #about {
    background: url("../images/background.jpg") 100%;
}

#main, #about, #reviews, #recommend, #stocks, #support {
    position: relative;
    height: 100vh;
}

#about .list-items,
#reviews .list-items,
#stocks .list-items {
    margin: 60px 0;
}
/* Common End */
