/* Support */
#support {
    background: url("../../images/support-bg.png") top 10% center;
    background-size: cover;
    color: #ffffff;
}

#support .support-before {
    background: url("../../images/catalog-before.png") no-repeat;
    background-size: cover;
    position: absolute;
    left: 195px;
    top: -25px;
    width: 85px;
    height: 75px;
    z-index: 1;
}

#support .wrapper-left {
    width: 53%;
    height: 100vh;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    background: rgb(73, 65, 145);
    background: linear-gradient(90deg, rgba(73, 65, 145, 1) 0%, rgba(97, 196, 235, 1) 100%);
    position: absolute;
    opacity: 85%;
}

#support .wrapper-right {
    width: 71.1%;
    height: calc(100vh - 50px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 34.8% 100%);
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(226, 14, 23, 1) 60%, rgba(180, 19, 84, 1) 100%);
    position: absolute;
    top: 25px;
    right: 25px;
    opacity: 85%;
}

#support .container {
    position: relative;
    z-index: 1;
}

#support .subtitle {
    font-family: 'RobotoSlab Bold';
    font-size: 30px;
}

#support p {
    font-size: 22px;
}

#support .instructions a,
#support .info a,
#support .files a {
    font-size: 22px;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
}

#support .instructions a:hover,
#support .info a:hover,
#support .files a:hover {
    text-decoration: underline;
}

#support .instructions,
#support .info {
    margin-bottom: 50px;
}

#support .your-question {
    text-align: left;
}

#support .your-question a {
    clip-path: polygon(0 0, 95% 0, 100% 50%, 5% 50%);
    width: 60%;
    height: 100px;
    line-height: 50px;
    font-size: 30px !important;
    display: inline-block;
}
/* Support End */
