@import url("bootstrap.css");
@import url("bootstrap.rtl.css");
@import url("bootstrap-grid.css");
@import url("bootstrap-grid.rtl.css");
@import url("bootstrap-reboot.css");
@import url("bootstrap-reboot.rtl.css");
@import url("bootstrap-utilities.css");
@import url("bootstrap-utilities.rtl.css");
@import url("fonts.css");
@import url("screen.css");

/* Common */

body {
    font-family: 'RobotoSlab Regular';
    color: #303335;
}

h1 {
    font-family: 'RobotoSlab Bold';
    text-transform: uppercase;
    padding: 50px 0;
    margin: unset;
}

.figure-parallelogram {
    text-align: center;
    color: white;
}

.figure-parallelogram p,
.figure-parallelogram a {
    width: 263px;
    height: 80px;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 10% 50%);
    display: inline-block;
    font-family: 'RobotoSlab Bold';
    font-size: 22px !important;
    line-height: 35px;
    color: white;
    text-decoration: none;
}

.figure-parallelogram a:hover {
    color: #cccccc;
}

#support .your-question p,
#main .choose-boiler a,
#catalog .get-feedback a {
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(180, 19, 84, 1) 0%, rgba(226, 14, 23, 1) 100%);
    text-align: center;
    display: block;
}

#stocks .and-plus a,
#reviews .quick-order a {
    background: rgb(97, 196, 235);
    background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
}

#main, #contacts, #stocks, #reviews, #about {
    background: url("../images/background.jpg") 100%;
}

#main, #about, #reviews, #recommend, #stocks {
    position: relative;
    height: 100vh;
}

#about .list-items,
#reviews .list-items,
#stocks .list-items {
    margin: 60px 0;
}

/* Common End */

/* Main */

#main .red-lines__bg {
    background: url("../images/red-lines__bg.png") top left no-repeat;
    width: 100%;
    /*height: 750px;*/
    height: 100vh;
    position: absolute;
    background-size: contain;
}

#main .navbar {
    background: transparent !important;
}

#main .navbar-brand {
    padding: unset;
    width: 230px;
    margin: 0 0 0 20px;
}

#main .navbar-brand img {
    width: 100%;
}

#main .navbar .navbar-nav .nav-item.cart {
    background: rgb(97, 196, 235);
    background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
    border-radius: 50%;
    margin-left: 20px;
    position: relative;
}

#main .navbar .navbar-nav .nav-item.cart .nav-link {
    background-image: url("../images/icon-cart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    padding: 25px;
}

#main .navbar .navbar-nav .nav-item.cart .nav-link .counter {
    position: absolute;

    font-family: 'RobotoSlab Thin';
    background-color: #E52521;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    line-height: 15px;
    font-size: 12px;
    top: 10px;
    right: 10px;
}

#main .navbar .navbar-nav .nav-item .nav-link {
    color: #616365;
    text-transform: uppercase;
    font-family: 'RobotoSlab Bold';
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

#main .navbar .navbar-nav .nav-item .nav-link.active,
#main .navbar .navbar-nav .nav-item .nav-link:hover {
    color: black;
}

#main .col-6:first-child {
    position: relative;
}

#main .main-title {
    margin: 35px 0 0 80px;
}

#main .main-title p {
    margin: unset;
    font-family: 'RobotoSlab Bold';
    text-transform: uppercase;
    line-height: 50px;
    font-size: 45px;
}

#main .main-description {
    padding: 60px 0 0 80px;
    background: url("../images/triangle-white.png") no-repeat;
    background-size: contain;
    background-position-x: 35px;
    background-position-y: 40px;
}

#main .main-description p {
    font-family: 'RobotoSlab Thin';
    font-size: 30px;
    line-height: 34px;
    margin: unset;
}

#main .choose-boiler {
    text-align: left;
    margin: 50px 0 0 100px;
}

#main .main-triangle__red {
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(226, 14, 23, 1) 0%, rgba(180, 19, 84, 1) 100%);

    position: absolute;
    right: 75px;
    width: 85px;
    height: 75px;
    bottom: 30px;
}

#main .main-contacts {
    font-family: 'RobotoSlab Thin';
    font-size: 24px;
    margin-top: 35px;
    position: relative;
    z-index: 1;
}

#main .main-contacts .email,
#main .main-contacts .phone,
#main .main-contacts .address {
    position: relative;
    margin-bottom: 5px;
}

#main .main-contacts .email:before {
    background-image: url("../images/icon-email.png");
}

#main .main-contacts .phone:before {
    background-image: url("../images/icon-phone.png");
}

#main .main-contacts .address:before {
    background-image: url("../images/icon-address.png");
}

#main .main-contacts div:before {
    content: " ";
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 35px;
    height: 35px;
    left: -50px;
    top: 3px;
}

#main .geliss {
    background: url("../images/geliss.png") no-repeat;
    position: absolute;
    width: 560px;
    height: 560px;
    background-size: contain;
    bottom: 0;
    opacity: 85%;
    right: 180px;
    z-index: 0;
}

#main .coal {
    background: url("../images/coal.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 300px;
    height: 260px;
    z-index: 1;
    right: 0;
    bottom: 0;
}

#main .right-elem {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
    background: rgb(97, 196, 235);
    background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);

    width: 230px;
    height: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 85%;
}

#main .white-line {
    background: url("../images/white-line.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 100px;
    height: 155px;
    right: 200px;
    bottom: 215px;
    z-index: 1;
}

#main .red-line__right {
    background: url("../images/red-line_short.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 144px;
    height: 225px;
    right: 125px;
    bottom: 110px;
}

#main .red-line__left {
    background: url("../images/red-line_short.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 144px;
    height: 225px;
    right: 350px;
    bottom: 90px;
}

/* Main End */

/* About */

#about .streak {
    background: url("../images/about-redline.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 351px;
    height: 550px;
    top: 0;
    right: 0;
}

#about .item {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

#about .col-3:first-child .item:before {
    content: '';
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    background: rgb(97, 196, 235);
    background: linear-gradient(90deg, rgba(73, 65, 145, 1) 0%, rgba(97, 196, 235, 1) 100%);
    position: absolute;
    width: 85px;
    height: 75px;
    left: -10px;
    top: -25px;
}

#about .item .item-icon span {
    font-family: 'RobotoSlab Regular';
    font-size: 80px;
    line-height: 115px;
    color: #737373;
}

#about .item .item-sep {
    clip-path: polygon(0 0, 95% 0, 100% 50%, 5% 50%);
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(180, 19, 84, 1) 0%, rgba(226, 14, 23, 1) 100%);
    height: 30px;
    width: 65%;
    margin: 15px auto 0 auto;
}

#about .item .item-info {
    font-family: 'RobotoSlab Thin';
    font-size: 20px;
}

/* About End */

/* Catalog */

#catalog {
    background: url("../images/catalog-bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

#catalog .catalog-before {
    background: url("../images/catalog-before.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 120px;
    top: -25px;
    width: 85px;
    height: 75px;
    z-index: 1;
}

#catalog .catalog-greyline {
    background: url("../images/greyline.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 189px;
    height: 296px;
    z-index: 1;
}

#catalog .catalog-whiteline {
    background: url("../images/whiteline.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 43%;
    width: 94px;
    height: 146px;
    z-index: 1;
}

#catalog .wrapper-left {
    clip-path: polygon(0 0, 100% 0, 63% 100%, 0 100%);
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(180, 19, 84, 1) 0%, rgba(226, 14, 23, 1) 100%);
    opacity: 85%;

    position: absolute;
    top: 25px;
    left: 25px;

    width: 68%;
    height: calc(100% - 50px);
}

#catalog .wrapper-right {
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 25% 100%);
    background: rgb(73, 65, 145);
    background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
    opacity: 85%;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

    width: 75%;
    height: 100%;
}

#catalog .container {
    position: relative;
    z-index: 1;
}

#catalog h1 {
    color: white;
}

#catalog .list-products .col-3:first-child .product-block:before {
    content: '';
    background: url("../images/catalog-before.png") no-repeat;
    background-size: cover;
    position: absolute;
    width: 85px;
    height: 75px;
    z-index: 1;
    transform: rotate(60deg);
    bottom: -50px;
    right: -40px;
    opacity: 85%;
}

#catalog .list-services .col-3:nth-child(3) .service-block:before {
    content: '';
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(226, 14, 23, 1) 0%, rgba(180, 19, 84, 1) 100%);
    position: absolute;
    width: 85px;
    height: 75px;
    z-index: 1;
    opacity: 85%;
    right: -43px;
    top: -35px;
}

#catalog .list-products .product-block,
#catalog .list-services .service-block {
    position: relative;
    display: block;
    text-align: center;
    background-color: #dfdfe0;
    padding: 25px 25px 10px 25px;
    margin: 15px 15px 30px 15px;
    text-decoration: none;
}

#catalog .list-products .product-block:hover .product-more,
#catalog .list-services .service-block:hover .service-more {
    text-decoration: underline;
}

#catalog .list-products .product-block .product-image img,
#catalog .list-services .service-block .service-image img {
    width: 100%;
}

#catalog .list-products .product-block .product-title,
#catalog .list-services .service-block .service-title {
    color: #303335;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 10px;
}

#catalog .list-services .service-block .service-title {
    min-height: 67px;
}

#catalog .list-products .product-block .product-more {
    color: #d96a69;
    text-transform: lowercase;
}

#catalog .get-feedback a {
    clip-path: polygon(0 0, 95% 0, 100% 50%, 5% 50%);
    width: 45%;
    height: 100px;
    line-height: 50px;
    font-size: 30px !important;
    display: inline-block;
}

/* Catalog End */

/* Reviews */

#reviews .reviews-before {
    content: '';
    clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(180, 19, 84, 1) 0%, rgba(226, 14, 23, 1) 100%);
    position: absolute;
    width: 85px;
    height: 75px;
    z-index: 1;
    opacity: 85%;
    left: 195px;
    top: -25px;
}

#reviews .item-review {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    padding: 35px;
    margin-bottom: 20px;
}

#reviews .item-review .user-avatar,
#reviews .item-review .user-name {
    display: inline-block;
    width: 49%;
}

#reviews .item-review .user-avatar {
    text-align: center;
}

#reviews .item-review .user-avatar img {
    width: 100%;
    border-radius: 50%;
}

#reviews .item-review .user-name {
    vertical-align: middle;
    font-size: 20px;
}

#reviews .item-review .item-review__body {
    font-family: 'RobotoSlab Thin';
    margin: 20px 0;
}

#reviews .item-review .item-review__footer a {
    text-decoration: none;
    color: #303335;
}

#reviews .item-review .item-review__footer a:hover {
    text-decoration: underline;
}

#reviews .quick-order a {
    clip-path: polygon(0 0, 95% 0, 100% 50%, 5% 50%);
    width: 35%;
    height: 100px;
    line-height: 50px;
    font-size: 30px !important;
    display: inline-block;
}

/* Reviews End */

/* Recommend */

#recommend {
    background: url("../images/recommend-bg.jpg") center;
    background-size: cover;
    position: relative;
    min-height: 750px;
    color: #ffffff;
}

#recommend .recommend-before {
    background: url("../images/catalog-before.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: -25px;
    width: 85px;
    height: 75px;
    z-index: 1;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#recommend .wrapper-left {
    width: 71.1%;
    height: calc(100vh - 50px);
    clip-path: polygon(0 0, 100% 0, 65.2% 100%, 0 100%);
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(180, 19, 84, 1) 0%, rgba(226, 14, 23, 1) 100%);
    position: absolute;
    top: 25px;
    left: 25px;
    opacity: 85%;
}

#recommend .wrapper-right {
    width: 53%;
    height: 100vh;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
    background: rgb(73, 65, 145);
    background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
    position: absolute;
    opacity: 85%;
    right: 0;
}

#recommend h1 {
    text-align: center;
}

#recommend h1 span {
    display: block;
}

#recommend .container {
    position: relative;
    z-index: 1;
}

#recommend .item-advantage {
    text-align: center;
}

#recommend .subtitle {
    font-family: 'RobotoSlab Bold';
    font-size: 24px;
    margin: unset;
}

/* Recommend End */

/* Stocks */

#stocks .stocks-before {
    content: '';
    clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
    background: rgb(97, 196, 235);
    background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
    position: absolute;
    width: 85px;
    height: 75px;
    z-index: 1;
    opacity: 85%;
    right: 120px;
    top: -25px;
}

#stocks h1 {
    text-align: right;
}

#stocks .list-items {
    margin-bottom: 90px;
}

#stocks .info-block {
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 24px;
    font-size: 20px;
}

#stocks .info-block.gradient-red {
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(180, 19, 84, 1) 0%, rgba(226, 14, 23, 1) 100%);
}

#stocks .info-block.gradient-blue {
    background: rgb(97, 196, 235);
    background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
}

#stocks .and-plus a {
    clip-path: polygon(0 0, 95% 0, 100% 50%, 5% 50%);
    width: 35%;
    height: 100px;
    line-height: 50px;
    font-size: 30px !important;
    display: inline-block;
}

/* Stocks End */

/* Support */

#support {
    background: url("../images/support-bg.png") top 10% center;
    background-size: cover;
    position: relative;
    min-height: 750px;
    color: #ffffff;
}

#support p {
    font-size: 16px;
}

#support .subtitle {
    font-family: 'RobotoSlab Regular';
    font-size: 24px;
}

#support .instructions,
#support .info {
    margin-bottom: 50px;
}

#support .your-question {
    text-align: left;
}

#support .wrapper-left {
    width: 53%;
    height: 750px;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    background: rgb(73, 65, 145);
    background: linear-gradient(90deg, rgba(73, 65, 145, 1) 0%, rgba(97, 196, 235, 1) 100%);
    position: absolute;
    opacity: 85%;
}

#support .wrapper-right {
    width: 71.1%;
    height: 700px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 34.8% 100%);
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(226, 14, 23, 1) 60%, rgba(180, 19, 84, 1) 100%);
    position: absolute;
    top: 25px;
    right: 25px;
    opacity: 85%;
}

#support .container {
    position: relative;
    z-index: 1;
}

/* Support End */

/* Contacts */

#contacts {
    font-family: 'RobotoSlab Thin';
}

#contacts h1 {
    text-align: center;
}

#contacts .subtitle {
    font-family: 'RobotoSlab Regular';
    margin-bottom: 8px;
}

#contacts p {
    margin: unset;
    font-size: 24px;
}

#contacts .info-main,
#contacts .info-additionally,
#contacts .info-feedback {
    margin-bottom: 25px;
}

#contacts .info-feedback form {
    border: 2px #303335 solid;
    padding: 25px;
    text-align: right;
}

#contacts .info-feedback form input:focus,
#contacts .info-feedback form textarea:focus {
    box-shadow: unset;
}

#contacts .info-feedback form input,
#contacts .info-feedback form textarea,
#contacts .info-feedback form button {
    border-radius: unset;
    border: 2px #303335 solid;
    background: transparent;
}

#contacts .map-wrapper {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #686cab, #d26456);
    padding: 20px;
}

#contacts .footer {
    text-align: center;
    padding: 30px 0;
}

/* Contacts End */

svg polygon {
    stroke-dasharray: 50;
    animation: dashoffset 1.5s linear infinite;
}

@keyframes dashoffset {
    to {
        stroke-dashoffset: 100;
    }
}
