@import url("bootstrap.css");
@import url("bootstrap.rtl.css");
@import url("bootstrap-grid.css");
@import url("bootstrap-grid.rtl.css");
@import url("bootstrap-reboot.css");
@import url("bootstrap-reboot.rtl.css");
@import url("bootstrap-utilities.css");
@import url("bootstrap-utilities.rtl.css");
@import url("fonts.css");
@import url("screen.css");

/* Common */

body {
    font-family: 'RobotoSlab Regular';
    color: #303335;
}

h1 {
    font-family: 'RobotoSlab Bold';
    text-transform: uppercase;
    padding: 50px 0;
    margin: unset;
}

/* Common End */

/* Main */

.navbar {
    background: transparent !important;
}

#main, #contacts, #stocks {
    background: url("../images/background.jpg") 100%;
}

#main .navbar-brand {
    padding: unset;
    margin: unset;
    width: 262px;
}

#main .navbar-brand img {
    width: 100%;
}

/* Main End */

/* Stocks */

#stocks h1 {
    text-align: right;
}

#stocks .info-block {
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 24px;
    font-size: 20px;
}

#stocks .info-block.gradient-red {
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(180, 19, 84, 1) 0%, rgba(226, 14, 23, 1) 100%);
}

#stocks .info-block.gradient-blue {
    background: rgb(97, 196, 235);
    background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
}

#stocks .and-plus {
    text-align: center;
    color: white;
}

#stocks .and-plus p {
    width: 263px;
    height: 80px;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 10% 50%);
    background: rgb(97, 196, 235);
    background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
    display: inline-block;

    font-family: 'RobotoSlab Bold';
    font-size: 22px;
    line-height: 35px;
}

/* Stocks End */

/* Support */

#support {
    background: url("../images/support-bg.png") top 10% center;
    background-size: cover;
    position: relative;
    min-height: 750px;
    color: #ffffff;
}

#support p {
    font-size: 16px;
}

#support .subtitle {
    font-family: 'RobotoSlab Regular';
    font-size: 24px;
}

#support .instructions,
#support .info {
    margin-bottom: 50px;
}

#support .your-question {
    clip-path: polygon(0 0, 90% 0, 100% 50%, 10% 50%);
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(180, 19, 84, 1) 0%, rgba(226, 14, 23, 1) 100%);
    width: 50%;
    height: 80px;
    text-align: center;
}

#support .your-question p {
    font-family: 'RobotoSlab Bold';
    font-size: 22px;
    line-height: 35px;
}

#support .wrapper-left {
    width: 53%;
    height: 750px;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    background: rgb(73, 65, 145);
    background: linear-gradient(90deg, rgba(73, 65, 145, 1) 0%, rgba(97, 196, 235, 1) 100%);
    position: absolute;
    opacity: 85%;
}

#support .wrapper-right {
    width: 71.1%;
    height: 700px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 34.8% 100%);
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(226, 14, 23, 1) 60%, rgba(180, 19, 84, 1) 100%);
    position: absolute;
    top: 25px;
    right: 25px;
    opacity: 85%;
}

#support .container {
    position: relative;
    z-index: 1;
}

/* Support End */

/* Contacts */

#contacts {
    font-family: 'RobotoSlab Thin';
}

#contacts h1 {
    text-align: center;
}

#contacts .subtitle {
    font-family: 'RobotoSlab Regular';
    margin-bottom: 8px;
}

#contacts p {
    margin: unset;
    font-size: 24px;
}

#contacts .info-main,
#contacts .info-additionally,
#contacts .info-feedback {
    margin-bottom: 25px;
}

#contacts .info-feedback form {
    border: 2px #303335 solid;
    padding: 25px;
    text-align: right;
}

#contacts .info-feedback form input:focus,
#contacts .info-feedback form textarea:focus {
    box-shadow: unset;
}

#contacts .info-feedback form input,
#contacts .info-feedback form textarea,
#contacts .info-feedback form button {
    border-radius: unset;
    border: 2px #303335 solid;
    background: transparent;
}

#contacts .map-wrapper {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #686cab, #d26456);
    padding: 20px;
}

#contacts .footer {
    text-align: center;
    padding: 30px 0;
}

/* Contacts End */

svg polygon {
    stroke-dasharray: 50;
    animation: dashoffset 1.5s linear infinite;
}

@keyframes dashoffset {
    to {
        stroke-dashoffset: 100;
    }
}
